# Random files
*.log
*.tex
logs/*
docs/*
*.md
ideias.txt

# Python
__pycache__/
*.pyc
test_denm_flow.py
test_files/
final_presentation/

# Ignorar infraestrutura pesada
vanetza-nap/
!vanetza-nap/docker-compose.yml
vanetza_explications/
venv/
