# Random files
*.log
*.tex
*.txt
PROPOSTA_FINAL.md
logs/*
EXPLICACAO_COMPLETA.md
architecture.mmd
pptx_idea.md

# Python
__pycache__/
*.pyc

# Ignorar infraestrutura pesada
vanetza-nap/
vanetza_explications/
venv/
